src/tree_sitter_extended_c.egg-info/
src/tree_sitter_extended_c/__pycache__/
src/tree_sitter_extended_c/parser.cpython-312-x86_64-linux-gnu.so
src/tree_sitter_extended_c/parser.cpython-313-x86_64-linux-gnu.so

src/tree_sitter_extended_c/tree-sitter-c/bindings
src/tree_sitter_extended_c/tree-sitter-c/.editorconfig
src/tree_sitter_extended_c/tree-sitter-c/.gitattributes
src/tree_sitter_extended_c/tree-sitter-c/.gitignore
src/tree_sitter_extended_c/tree-sitter-c/package.json
src/tree_sitter_extended_c/tree-sitter-c/binding.gyp
src/tree_sitter_extended_c/tree-sitter-c/Cargo.toml
src/tree_sitter_extended_c/tree-sitter-c/CMakeLists.txt
src/tree_sitter_extended_c/tree-sitter-c/go.mod
src/tree_sitter_extended_c/tree-sitter-c/Makefile
src/tree_sitter_extended_c/tree-sitter-c/Package.swift
src/tree_sitter_extended_c/tree-sitter-c/pyproject.toml
src/tree_sitter_extended_c/tree-sitter-c/setup.py
